<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CryptoBird.Properties.PublicOnForm" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CryptoBird.Properties.MailServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CryptoBird.Properties.MailServer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CryptoBird.Properties.PublicOnForm>
            <setting name="USERNAME_INPUT" serializeAs="String">
                <value>korotuntest@gmail.com</value>
            </setting>
        </CryptoBird.Properties.PublicOnForm>
        <CryptoBird.Properties.MailServerSettings>
            <setting name="INPUT_HOST" serializeAs="String">
                <value>imap.gmail.com</value>
            </setting>
            <setting name="INPUT_PORT" serializeAs="String">
                <value>993</value>
            </setting>
            <setting name="INPUT_METHOD" serializeAs="String">
                <value>IMAP</value>
            </setting>
            <setting name="OUTPUT_HOST" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="OUTPUT_PORT" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="USERNAME" serializeAs="String">
                <value>korotuntest@gmail.com</value>
            </setting>
            <setting name="USER_PASSWORD" serializeAs="String">
                <value />
            </setting>
        </CryptoBird.Properties.MailServerSettings>
        <CryptoBird.Properties.MailServer>
            <setting name="INPUT_SERVER_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="INPUT_PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="INPUT_METHOD" serializeAs="String">
                <value>IMAP</value>
            </setting>
        </CryptoBird.Properties.MailServer>
    </userSettings>
</configuration>